@model string
@using System

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error", StringComparison.OrdinalIgnoreCase)
        ? "danger"
        : (Model.StartsWith("Warning", StringComparison.OrdinalIgnoreCase) ? "warning" : "success");
    <div class="alert alert-@statusMessageClass alert-dismissible manage-status-message" role="alert">
        <button type="button" class="close btn-close" data-dismiss="alert" data-bs-dismiss="alert" aria-label="@Localizer["Cookie_Close"]">
            <span aria-hidden="true">&times;</span>
        </button>
        @Model
    </div>
}
