@page
@model AccessDeniedModel
@{
    ViewData["Title"] = Localizer["Id_AccessDeniedTitle"];
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@Localizer["Id_AccessDeniedMessage"]</p>
</header>
