@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = Localizer["Id_ForgotPasswordConfirmationTitle"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["Id_ForgotPasswordConfirmationMessage"]
</p>
