@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = Localizer["Id_ResetPasswordConfirmationTitle"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @Localizer["Id_ResetPasswordConfirmationMessage"] <a asp-page="./Login">@Localizer["Id_ClickHereToLogin"]</a>.
</p>
