.git/
.vs/
.vscode/
**/bin/
**/obj/
**/node_modules/
**/TestResults/
**/Logs/
**/*.user
**/*.rsuser
**/*.suo
**/*.log

Tests/
Web/Chess.Web/wwwroot/lib/
Web/Chess.Web/wwwroot/js/*.bundle.js
Web/Chess.Web/wwwroot/js/*.bundle.js.map
Web/Chess.Web/wwwroot/js/*.bundle.min.js
Web/Chess.Web/wwwroot/js/*.bundle.min.js.map
